/*.heading naal jehdi html ch class heading diti a
headings nu sbh te styling lgjugi*/
.heading {
    color: red;
    background-color: yellow;

}
body{
    background-color: lightblue;
}
button{
    background-color:bisque;
    color:cadetblue;
}